.video-background {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

@media (min-aspect-ratio: 16/9) {
    .video-background {
        width: 100%;
        height: auto;
    }
}

@media (min-aspect-ratio: 16/9) {
    .video-background {
        width: auto;
        height: 100%;
    }
}

header {
    background: rgba(0,0,100,0.5);
    height: 100vh;
}

.nav-link {
    color: #fff;
}

.process {
    margin-top: 100px;
}

.banner-name {
    position: relative;
    text-align: center;
    font-family: sans-serif;
    color: #fff;
    top: 180px;
}

.banner-name h1{
    font-size: 52px;
    margin: 25px;
}

.banner-btn {
    margin-top: 50px;  
}

.recent-work {
    margin-top: 100px;
}

.recent-work h1 {
    margin-bottom: 50px;
}

.testimonials {
    margin-top: 100px;
}

.appointment {
    margin-top: 100px;
    margin-bottom: 150px;
}

.appointment-name {
    margin-top: 25px;
}

.appointment img {
    border-radius: 10px;
}

/* sticky footer */
// html {
//     position: relative;
//     min-height: 100%;
// } 

// .footer {
//     position: absolute; 
//     bottom: 0;
//     width: 100%;
//     padding-bottom: 80px;
//     margin-right: 20px;
//     height: 240px; 
//     line-height: 60px; 
//     background-color: #363535;
//     color: #fff;
// }

.footer { 
    bottom: 0;
    width: 100%;
    padding-bottom: 80px;
    margin-right: 20px;
    height: 350px;
    line-height: 70px;
    background-color: #363535;
    color: #fff;
}

.footer a {
    color: #fff;
}

.subscribe {
    width: 50%;
}
  
  