.portfolio-banner {
    height: 400px;
    background: url('/img/portfolio-banner.jpg') center no-repeat;
    background-size: cover;
    background-height: 400px;
}

.portfolio-banner-head {
    padding-top: 40px;
    color: #fff;
}

.work {
    margin: 100px 0 300px 0;
}

.video-border {
    width: 100%;
}

.video-container {
    margin-bottom: 300px;
    width: 100%;
}