.services-banner {
    height: 400px;
    background: url('/img/services2.jpg') center no-repeat;
    background-size: cover;
    background-height: 400px;
}

.services-banner-head {
    padding-top: 40px;
    color: #fff;
}

.services-container {
    margin: 100px auto 100px auto;
}

.book-service {
    margin: 100px auto 300px auto;
}